/* Animation */
@keyframes growth {
    from {
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #ee4d2d;
    --border-color: #dbdbdb;
    --header-height: 120px;
    --nav-height: 46px;
    --search-height: 74px;
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid{
    width: 95%;
    max-width: 100%;
    margin: 0 auto;
}

.gird__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    nav-right: -5px;
}
.grip__col-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.667%;
}
.grip__col-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grip__col-8{
    padding-left: 5px;
    padding-right: 5px;
    width: 66.667%;
}
.grip__col-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.333%;
}
/* Modal */
.modal{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.5s;
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.modal__body{
    margin: auto;
    position: relative;
    z-index: 2;
    animation: growth linear 0.5s;
}
/* Button*/
.btn{
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    color: var(--text-color);
    background-color: white;
}
.btn.btn--normal:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.btn.btn--primary{
    background-color: var(--primary-color);
    color: white;
}
.btn.btn--disable{
    background-color: #999;
    cursor: default;
}
/* Selection */
.select-input{
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.select-input .select-input__label{
    font-size: 14px;
}
.select-input i{
    font-size: 10px;
}
.select-input:hover .select-input__list{
    display: block;
}
.select-input__list{
    position: absolute;
    top:20px;
    left: 0;
    border-radius: 2px;
    background-color: white;
    width: 100%;
    padding-left: 10px;
    list-style: none;
    display: none;
    z-index: 3;
    box-shadow: rgb(0 0 0 / 10%) 0px 0.0625rem 0.125rem 0px;
}
.select-input__list::after{
    content: "";
    width: 100%;
    position: absolute;
    top:-5px;
    left: 0;
    height: 10px;
}
.select-input__link{
    font-size: 14px;
    text-decoration: none;
    color: #000;
    padding: 8px 0;
    display: block;
}
.select-input__link:hover{
    color: var(--primary-color);
}
