.header{
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #fe3222);
}
.header__nav{
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
    height: var(--nav-height);
}
.header__nav-list{
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}
.header__nav-item{
    display: inline-block;
    margin: 0 8px;
    position: relative;
}
.header__nav-item-link,
.header__nav-item--disable{
    font-size: 15px;
    text-decoration: none;
    color: var(--white-color);
    font-weight: 300;
}
.header__nav-item-link:hover{
    opacity: 0.5;
    cursor: pointer;
}
.header__nav-item-link--strong{
    font-weight: bold
}
.header__nav-item-link--separate::after{
    content: "";
    display: block;
    position: absolute;
    height: 14px;
    border-left: 1px solid #FB9086;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}
.header__nav-item-icon{
    color:var(--white-color);
    margin: 0 3px;
}

/* Header QR Code */
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.header__nav-item-link-qr:hover .header__qr{
    display: block;
}
.header__qr{
    position: absolute;
    background-color: var(--white-color);
    width: 180px;
    left: 0;
    top:100%;
    box-shadow: 2px 2px 50px grey;
    display: none;
    animation: fadeIn ease-in 0.3s;
}
.header__qr-img{
    width: 100%;
}
.header__qr-apps{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header__qr-apps-icon{
    height: 16px;
    margin: 0 5px;
}
/* Header notification */

.header__nav-item-notify:hover .header__notify{
    display: block;
    z-index: 3;
}
.header__notify{
    position: absolute;
    top:100%;
    right: 0;
    background-color: white;
    width: 400px;
    border: 1px solid #d3d3d3;
    display: none;
    animation:growth ease-in 0.2s;
    transform-origin: 95% 0;
    margin-top: 10px;
}
.header__notify::before{
    content: '';
    border: 15px solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    right: 12px;
    top: -27.5px
}
.header__notify::after{
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: -20px;
    width: 80px;
    height: 20px;
}

.header__notify-header{
    width: 100%;
    height: 40px;
    background-color: white;
    user-select: none;
}
.header__notify-header h3{
    margin: 0 0 0 12px;
    font-size: 14px;
    color: #999;
    line-height: 40px;
}
.header__notify-item{
    background-color: #f1dbdb;
}
.header__notify-item:hover{
    background-color: #f8f8f8;
}
.header__notify-list{
    list-style: none;
    padding: 0;
}
.header__notify-item-link{
    display: flex;
    padding: 0 12px 12px 12px;
    text-decoration: none;
}
.header__notify-item-img{
    width: 48px;
    object-fit: contain;
}
.header__notify-item-info{
    margin-left: 12px;
}
.header__notify-item-header{
    font-size: 14px;
    line-height: 16.8px;
    color:#000000;
    font-weight: 600;
    margin: 5px 0;
}
.header__notify-item-description{
    font-size: 12px;
    line-height: 15px;
    color:#000000;
}
.header__notify-footer{
    text-align: center;
    background-color: #fafafa;
    padding: 8px 0;
}
.header__notify-footer-btn{
    text-decoration: none;  
    color: #000;
    font-size: 14px;
    text-align: 16.8px;
    display: inline-block;
    width: 100%;
}
/* Modal Authen */
.auth-form{
    width: 500px;
    border-radius: 5px;
    background-color: white;
    overflow: hidden;
}
.auth-form__container{
    padding: 0 32px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.auth-form__header-text{
    font-size: 25px;
    font-weight: bold;
}
.auth-form__switch-btn{
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    color: var(--primary-color);
}
.auth-form__input{
    width: 100%;
    margin-top: 16px;
    height: 40px;
    padding: 0 12px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    outline: none;
}
.auth-form__input:focus{
    border-color: #777;
}
.auth-form__aside{
    margin-top: 18px;
    padding: 0 12px;
}
.auth-form__policy-text{
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
}
.auth-form__policy-link{
    color: var(--primary-color);
    text-decoration: none;
}
.auth-form__control{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
.auth-form__control .btn{
    margin-left: 10px;
}
.auth-form__social{
    margin-top: 30px;
    background-color: #f5f5f5;
    padding: 15px 36px;
    display: flex;
    justify-content: space-between;
}
.btn--width-icon{
    height: 30px;
    font-size: 12px;
    padding: 0 20px;
    display: flex;
    align-items: center;
}
.auth-form__social-icon {
    font-size: 18px;
    margin-right: 40px;
}
.auth-form__social-fb{
    background: #3a5a98;
    color: #fff;
}
.auth-form__social-gg{
    background-color: #fff;
}
/* Authen login */
.auth-form__aside-login .auth-form__policy-text{
    display: flex;
    justify-content: end;
}
.auth-form__aside-login .auth-form__policy-text a{
    margin: 0 10px;
}
.auth-form__policy-link-help{
    color: rgb(172, 172, 172);
}
.auth-form__control-login{
    margin-top: 40px;
}
/* Header search */
.header__search{
    height: var(--search-height);
    margin: 0 40px;
    display: flex;
    align-items: center;
}
.search__logo{
    width: 200px;
}
.search__logo-img{
    width: 150px;
    color: #fff;
}

.search__cart{
    color: white;
    width: 140px;
    display: flex;
    justify-content: center;
}
.search__cart i{
    font-size: 20px;
    margin-top: 4px;
}
.search__box{
    background: white;
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.input-wrapper{
    flex: 1;
    height: 100%;
}
.input-box{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 16px;
    border-radius: 3px;
}
.input-box:focus ~.search-history{
    display: block;
}
.search-history{
    background-color: #fff;
    border-radius: 3px;
    margin-top: -10px;
    display: none;
}
.search-history-list{
    list-style: none;
    box-shadow: 0 0 1px #000;
    padding: 0;
}
.search-history-item{
    font-size: 15px;
    padding: 5px 16px;
    
}
.search-history-item:hover{
    background-color: #fafafa;
}
.box-option{
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}
.select-label{
    font-size: 14px;
}
.box-option:hover .option-list{
    display: block;
}
.option-list{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    list-style: none;
    border-radius: 1px;
    padding: 8px 8px;
    box-shadow: 0 0 3px #ccc;
    width: 100%;
    display: none;
}
.option-list i{
    color: var(--primary-color);
    display: none;
}
.option-item{
    font-size: 14px;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.option-item-active i{
    display: block;
}
.box-option::after{
    content: "";
    /* background-color: #000; */
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    height: 50px;
}
.select-label i{
    margin-left: 10px;
    font-size: 10px;
    color: rgba(0,0,0,.87);
    margin-right: 5px;
}
.box-search{
    background-color: #fb5533;
    border-radius: 3px;
    margin: 0 3px;
}
.box-search i{
    color: #fff;
    padding: 10px 22px;
}
.box-search:hover{
    background: #fb6445;
    cursor: pointer;
}